*.pyc
*.retry
.vagrant
*.log
privacyscore/settings.py
venv/
raw_data/
tests/vendor
ansible/id_rsa
id_rsa
# home dir
.bash_history
.bash_profile
.bashrc
.cache/
.mozilla/
.pip/
.pyenv/
.ssh/
.viminfo
.ipython
.idea

ansible/files/id_rsa

*.mo
vagrant/provisioning/id_rsa
