{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans 'Welcome' %}{% endblock title %}

{% block fullcontent %}
<div class="container">

    <div class="well">
        <div class="container gicc-background-scan-box">
            <h1>Scannen Sie Ihre Webseite auf Sicherheitslücken</h1>
            <br>
            <div class="row">
                <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3 col-md-6 col-md-push-3">
                    <form method="post" action="{% url 'frontend:scan_site' %}">
                        {% csrf_token %}
                        <div class="input-group scan-single">
                            {% with placeholder=_('URL, e.g. privacyscore.org') %}
                                {% render_field scan_form.url class+='form-control' placeholder=placeholder %}
                            {% endwith %}
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-scan" type="submit">{% trans 'SCAN' %}</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>

    <div class="container text-muted text-center gicc-text">
        <div class="row">
            <div class="col">SEAL GDPR ist ein Datenschutz-Modul, das auf Basis technischer Maßnahmen bespielsweise Informationen zur Passwort-Policy ausliest und auditiert.
            </div>
        </div>
    </div>
</div>

{% endblock fullcontent %}
